.THIS .red {
    color:#c23934 !important;
}

.THIS .green {
    color:#4db53c !important;
}

.THIS .yellow {
    color:#F3A83C !important;
}

.THIS .component-title {
    padding-left:1rem;
    font-size:0.9rem;
}

.THIS .slds-card__body {
    margin-bottom:0 !important;
}